preprocessor frag3_global
preprocessor frag3_engine

alert tcp any any -> 10.101.149.63 23232 (msg:"Alerta! Houveram 4 ligacoes da mesma maquina emissora para o porto do servidor!"; gid:2; sid:2; rev:2;)
event_filter gen_id 2, sig_id 2, type threshold, track by_src, count 4, seconds 20

alert tcp any any -> 10.101.149.63 :1024 (msg:"Alerta! Houveram 5 ligacoes TCP para portos inferiores a 1024!"; sid:1; rev:1;)
event_filter gen_id 1, sig_id 1, type both, track by_dst, count 5, seconds 60
